*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-image: url(assets/home/background-home-desktop.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a{

    color: inherit;
    text-decoration: none;
}

.navbar{

     display: flex;
     justify-content: space-around;
}

.line{

    position: relative;
    left: 215px;
    top: 105px;
    width : 620px;
    border-top: 1px solid grey;
    opacity: 0.25;
    mix-blend-mode: normal;
}

.logo{   

    margin-right: 100px;
    position: relative;
    top: 80px;
    left: 80px;     
    flex: 1 1 200px;
    flex-wrap: wrap;
    z-index: 999;
}

button{

    display: none;
}

.tabs{

    position: relative;
    top: 50px;
    height: 96px;
    width: 830px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81.5485px);
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    flex-wrap: wrap;
    font-size: 16px;
}

.first{

    display: none;
}

.atab{

    border-bottom:  solid #ffffff;
    line-height: 93px;
} 

.tab{

    line-height: 93px;
}   

.tab::after {

    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    opacity: 0.5;
    transition: width .3s;
}

.tab:hover::after {

    width: 100%;
}

.content{

    margin-top: calc(100vh - 650px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h5{
    
    color: #d0d6f9;
    font-family: 'Barlow Condensed',sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    flex:1 1 100px;
    flex-wrap: wrap;
}

h1{

    margin : 24px 0px;
    color: #ffffff;
    font-family: 'Bellefair', sans-serif;
    font-weight: normal;
    font-size: 150px;
    line-height: 172px;
    flex:1 1 100px;
    flex-wrap: wrap;
}

p{

    color: #d0d6f9;
    font-family: 'Barlow Condensed',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    width: 350px;
    flex:1 1 100px;
    flex-wrap: wrap;
}

.exp{

    position: relative;
    background-color: #ffffff;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10%);
}

.exp p{

    color: #0b0d17;
    font-family: 'Bellefair', sans-serif;
    align-items: flex-start;
    flex-wrap: wrap;
    flex:0 1 100px;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
}

 .hov{

    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    z-index: -1;
}

.exp:hover > .hov{

    background-color: #ffffff;
    opacity: 0.2;
    animation: growUp 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

@keyframes growUp {

    0% { transform: scale(0);}
    100% { transform: scale(1.5);}   
}
/* media queries */
/* responsive desktop */
/* vertical */

@media(max-height:705px) {

    .content{

        margin-top: 10px;
    }
    h5{

        font-size: 20px;
    }
    h1{

        font-size: 70px;
    }
    .logo{

        top: 30px;
    }
    .tabs{

        top: 0;
    }
    .line{

        top:53px;
    }
}
@media(max-height:705px) and (min-height:651px){

    h1{

        font-size: calc(100vh - 575px);
    }
}
@media(max-height:705px) and (min-height:699px){

    h5{

        font-size: calc(100vh - 681px);
    }
}
@media(max-height:400px){

    body{

        height: 334vh;
    }
}
/* horizontal */
@media(max-width:836px) {

    body{

        height:120vh;
    }
    .line{

        left: 202px;
        width: 169px
    }
}

/* responsive tablet */
@media (max-width:768px){

    body{

        background-image: url(assets/home/background-home-tablet.jpg); 
        height: 120vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .line{

        display: none;
    }
    .logo{

        top:25px;
        left:50px;
        margin-right: 0px;
    }
    .tabs{

        position: relative;
        top: 0px;
        height: 100px;
        width: 600px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(81.5485px);
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2px;
        flex-wrap: wrap;
        font-size: 16px;
    }
    strong{
         display: none;
    }
    .content{

        margin-top: calc(100vh - 700px);
        flex-direction: column;
        position: absolute;
        left:180px;
        margin-left: 20px;
        top:0;
        justify-content: flex-start;
        align-items: center;
    }
    h5{
    
        position: relative;
        top:-70px;
        left: 20px;
        font-size: 24px;
        flex-wrap: wrap;
    }
    h1{
    
        position: relative;
        top:-70px;
        right: 30px;
        width: 50%;
        flex-wrap: wrap;
    }
    p{
    
        position: relative;
        top:-70px;
        width: 65%;
        text-align: center;
        flex-wrap: wrap;
    }
    .exp{

        position: relative;
        left:-100px;
        flex-wrap: wrap;
    }
    .exp p{

        position: relative;
        top: 5px;
        left: 5px;
    }

}

/* vertical */

@media (max-width:768px) and (max-height:880px){

    .content{

        margin-top: 220px;
    }
    h5{

        font-size: 20px;
        left: 20px;
    }
    h1{

        font-size: 70px;
        text-align: center;
        right: 0;
        left: 30px;
        margin: 0;
    }
}


/* horizontal */
@media (max-width:600px){

    .content{

        margin-left: 0;
    }
    h5{

        font-size: 20px;
        left: 20px;
        width: 50%;
    }
    h1{

        font-size: 70px;
        text-align: center;
        right: 0;
        left: 30px;
        margin: 0;
    }
    .exp{

        left: -58px;
    }

}
@media (max-width:768px) and (max-height:781px){

    body{

        height:200vh;
    }
}
@media (max-width:768px) and (max-height:500px){

    body{

        height:300vh;
    }
}
@media(max-width:768px) and (max-height:300px){

    body{
        height: 504vh;
    }
}

/* mobile */
@media (max-width:420px){

    button{

        display: block;
    }
    body{

        background-image: url(assets/home/background-home-mobile.jpg); 
        height: 110vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
    }
    .line{
       
        display: none;
    }
    .logo{

        top:24px;
        left:24px;
        
    }
    .log{

        height: 40px;
        width: 40px;
    }
    .tabs{

        position: fixed;
        inset: 0 0 0 36%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1000;
        transform: translateX(60%);
        transition: transform 350ms ease-in;

    }
    .tabs[data-visible="true"]{
        transform: translateX(0%);
    }
    .ltab{

        margin-left: 30px;
    }
    .burger{

        position: absolute;
        top:33px;
        right: 33px;
        z-index: 9999;
        width: 21px;
        background: url("assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        border: 0;
        aspect-ratio: 1;

    }
    .first{

        display: block;
        margin-top: 20px;
    }
    .burger[aria-expanded="true"]{

        background: url("assets/shared/icon-close.svg");
    }
    strong{
         display: inline;
    }
     .content{

        position: relative;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin-top: 58px;
    }
    h5{
    
         position: relative;
        top:0px;
        left: 0px; 
        font-size: 14px;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    h1{
    
        position: relative;
        top:0px;
        left: 80px;
        text-align: center;
        flex-wrap: wrap;
        font-size: 80px;
        margin: 0;
        line-height: 100px;
    }
    p{
    
        position: relative;
        top:0px;
        left:43px;
        width: 75%;
        white-space: pre-wrap;
        text-align: center;
        flex-wrap: wrap;
        font-size: 15px;
        line-height: 25px;
    }
    .exp{

        position: relative;
        left:0px;
        margin-top: 81px;
        margin-left: 0px;
        flex-wrap: wrap;
        height: 150px;
        width: 150px;
    }
    .exp p{

        position: relative;
        font-size: 20px;
        top: 0px;
        left: 0px;
    } 
    .atab{

        border-bottom: 0px;
    }
    .first{

        margin-top: 70px;
    }
    .hov{

        height: 174px;
        width: 174px;
    }
}
/* vertical */
@media (max-width:380px){

    h1{

        font-size: 40px;
    }
    body{
        height: 120vh;
    }
}